@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Share&subset=latin,latin-ext);

body {
	background-color: darkolivegreen;
}

#main-title {
	text-align: center;
	width: 740px;
	height: 100px;
	background-color: #044220;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#mac-logo {
	font-family: 'Lobster', cursive;
	font-size: 65px;
	padding-left: 15px;
	padding-top: 15px;
	color: white;
}

#main-panel {
	width: 700px;
	height: 480px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-left: 40px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
}

#main-content-square {
	width: 466px;
	height: 446px;
	background-color: seagreen;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
}

#mac-check-title {
	margin-top: 50px;
}

.main-square-text-content {
	text-align: left;
	font-size: 15px;
	font-family: "Consolas";
	margin-top: 30px;
	padding-left: 10px;
	color: black;
	position: relative;
}

#readings-column {
	width: 1px;
	height: 500px;
	float: right;
	font-family: 'Share', cursive;
}

#temperature-content-square {
	float: right;
	width: 140px;
	height: 140px;
	margin-right: 50px;
	background-color: #28523B;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}

#temperature-reading-title {
	text-align: center;
	color: white;
	margin-top: 20px;
	font-size: 22px;
}

#temperature-reading-score {
	text-align: center;
	margin-top: 15px;
	font-size: 35px;
	color: lightblue;
	font-weight: bold;
}

#humidity-content-square {
	float: right;
	width: 140px;
	height: 140px;
	margin-top: 12px;
	margin-right: 50px;
	background-color: #28523B;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

#humidity-reading-title {
	text-align: center;
	color: white;
	margin-top: 20px;
	font-size: 22px;
}

#humidity-reading-score {
	text-align: center;
	margin-top: 15px;
	font-size: 35px;
	color: lightblue;
	font-weight: bold;
}

#lighting-content-square {
	float: right;
	width: 140px;
	height: 140px;
	margin-top: 12px;
	margin-right: 50px;
	background-color: #28523B;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}

#lighting-reading-title {
	text-align: center;
	color: white;
	margin-top: 20px;
	font-size: 22px;
}

#lighting-reading-score {
	text-align: center;
	margin-top: 15px;
	font-size: 35px;
	color: lightblue;
	font-weight: bold;
}

#footer {
	color: lightblue;
	margin-top: 455px;
	font-size: 15px;
	padding: 4px;
}

#contact-me {
	float: right;
	color: white;
	font-size: 15px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#contact-me:hover {
	float: right;
	color: white;
	font-size: 15px;
	background-color: #044220;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#who-is-mac {
	float: right;
	color: white;
	font-size: 15px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#who-is-mac:hover {
	float: right;
	color: white;
	background-color: #044220;
	font-size: 15px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

#what-is-this {
	float: right;
	color: white;
	font-size: 15px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#what-is-this:hover {
	float: right;
	color: white;
	background-color: #044220;
	font-size: 15px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#separator {
	float: right;
	padding-left: 4px;
	padding-right: 4px;
	color: white;
	font-size: 15px;
	cursor: pointer;
}






/*
#main-circle-bak {
	width: 446px;
	height: 446px;
	//background: #B3F7A6;
	background-color: #B87400;
	-moz-border-radius: 223px;
	-webkit-border-radius: 223px;
	border-radius: 223px;
	position: absolute;
}

#main-circle-content-bak {
	text-align: center;
	background-color: inherit;
	width: 300px;
	height: 300px;
	position: absolute;
	margin-top: 70px;
	margin-left: 75px;
}

#main-circle-border-bak {
	width: 450px;
	height: 450px;
	margin-left: 100px;
	background: #106E00;
	-moz-border-radius: 225px;
	-webkit-border-radius: 225px;
	border-radius: 225px;
	position: absolute;
}
*/

