@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	background-color: slategray;
}

a {
	color: white;
}

#main-layout {
	text-align: center;
	width: 55%;
	background-color: #044220;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#mac-logo {
	font-family: 'Lobster', cursive;
	font-size: 65px;
	padding-left: 15px;
	padding-top: 15px;
	color: white;
}

#main-panel {
	background-color: black;
	padding-top: 20px;
	padding-left: 25px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
}

#main-content-square {
	width: 466px;
	height: 446px;
	width: 65%;
	height: 90%;
	background-color: seagreen;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
}

#main-square-text-content {
	text-align: left;
	font-size: 20px;
	margin-top: 10px;
	padding-left: 10px;
	color: black;
	font-family: 'Raleway', sans-serif;
	position: relative;
}

#content-photo {
	float: left;
	padding-right: 10px;
}

#readings-column {
	width: 200px;
	float: right;
	height: 450px;
	position: relative;
}

#content-spacer {
	padding: 75px;
}

#temperature-content-square {
	width: 75%;
	height: 30%;
	font-family: 'Raleway', sans-serif;
	margin-right: 50px;
	margin-top: 1%;
	background-color: #28523B;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
}

#temperature-reading-title {
	text-align: center;
	color: white;
	margin-top: 20px;
	font-size: 22px;
}

#temperature-reading-score {
	text-align: center;
	margin-top: 15px;
	font-size: 35px;
	color: lightblue;
	font-family: serif;
	font-weight: bold;
}

#humidity-content-square {
	width: 75%;
	height: 30%;
	font-family: 'Raleway', sans-serif;
	margin-right: 50px;
	background-color: #28523B;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
}

#humidity-reading-title {
	text-align: center;
	color: white;
	margin-top: 20px;
	font-size: 22px;
}

#humidity-reading-score {
	text-align: center;
	margin-top: 15px;
	font-size: 35px;
	color: lightblue;
	font-family: serif;
	font-weight: bold;
}

#lighting-content-square {
	width: 75%;
	height: 30%;
	font-family: 'Raleway', sans-serif;
	margin-right: 50px;
	background-color: #28523B;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
}

#lighting-reading-title {
	text-align: center;
	color: white;
	margin-top: 20px;
	font-size: 22px;
}

#lighting-reading-score {
	text-align: center;
	margin-top: 15px;
	font-size: 35px;
	color: lightblue;
	font-family: serif;
	font-weight: bold;
}

#footer {
	color: lightblue;
	margin-top: 65%;
	font-size: 15px;
	padding: 4px;
}

#home {
	float: right;
	color: white;
	font-size: 15px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#home:hover {
	float: right;
	color: white;
	font-size: 15px;
	background-color: #044220;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#contact-me {
	float: right;
	color: white;
	font-size: 15px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#contact-me:hover {
	float: right;
	color: white;
	font-size: 15px;
	background-color: #044220;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#who-is-mac {
	float: right;
	color: white;
	font-size: 15px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#who-is-mac:hover {
	float: right;
	color: white;
	background-color: #044220;
	font-size: 15px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

#how-its-done {
	float: right;
	color: white;
	font-size: 15px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#how-its-done:hover {
	float: right;
	color: white;
	background-color: #044220;
	font-size: 15px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#separator {
	float: right;
	padding-left: 4px;
	padding-right: 4px;
	color: white;
	font-size: 15px;
}

#contact-form {
	font-weight: bold;
	font-size: 20px;
}

#bad-message {
	font-weight: bolder;
	font-size: 15px;
	color: midnightblue;
	display: inline;
}

#thank-you {
	font-weight: bolder;
	font-size: 15px;
	color: midnightblue;
	display: inline;
}

.contact-input {
	width: 185px;
	height: 20px;
}

.charting {
	width: 450px;
	height: 200px;
	color: white;
}

